---
layout: blank
title: Omelia Iliffe
---

<div class="row justify-content-center">
  <div class="col-6 p-5">
    <img src="/assets/img/profile-square.jpg" class="img-fluid rounded-circle">
  </div>
  <div class="col-12 col-md-6 pt-md-5">
    <h1>Kia ora. I am Omelia Iliffe</h1>
    <h2>I'm an industrial designer with a broad range of skills.
      You can see an overview of my <a href="/projects">projects</a>,
      read my <a href="/cv">cv</a>, or
      contact me at <a href="mailto:omelia@iliffe.io">omelia@iliffe.io</a>
    </h2>
  </div>
</div>
