---
layout: default
permalink: /projects/
title: "Projects"
description: "Omelia Iliffe"
contact_nav: true
nav_links: true
nav_current: projects
---
<div class="content">
<div class="row">

    {% for project in site.data.projects %}
        <div class="col-lg-4 col-md-4 col-12 px-4 py-3">
            <h3>
              {% if project.link %}
                <a href="{{ project.link }}" class="text-dark stretched-link">
              {% endif %}
              {{ project.title }}
              {% if project.link %}
                </a>
              {% endif %}
            </h3>
            <img class="img-fluid round" src="{{ project.image }}">
            <!-- <p><b>Project Date:</b> {{ project.date }}</p> -->
            <p>{{ project.description }}</p>
            <p>{{ project.description2 }}</p>
        </div>
    {% endfor %}
    </div>
    </div>
