<div id="nav" class="pt-3">
  <h1><a href="/" class=text-dark>{{include.title}}</a></h1>
  {% if include.nav_links %}
  <h2 class="text-muted">
    {% assign links = "projects,cv,contact" | split: "," %}
    {% for nav in site.data.nav %}

      <a href={{nav.link}} class="{% if nav.title==include.current %}text-dark{%else%}text-muted{%endif%}">{{nav.title}}</a>

    {% endfor %}
  </h2>
  {% endif %}
  <ul class="list-inline">
    {% for details in site.data.contact %}
    <!-- {{details.address}}<br> -->
     <li class="list-inline-item text-muted">Ph. {{details.phone}}</li>
     <li class="list-inline-item text-muted">Email. <a href="mailto:{{details.email}}">{{details.email}}</a></li>
  {% endfor %}
  </ul>
</div>
