<div class="content">
  <div class="row align-items-center header">
    <div class="col">

      <div class="row text-center">
        <div class="col">
          {% if page.image %}
            <img src="{{page.image}}" class="col-9 col-md-7 col-lg-4 rounded-circle mx-auto mb-3 mt-5 d-block img-fluid" alt="...">
          {% endif %}
          <h1 class="mt-3" >{{page.title}}</h1>
          <p>{{page.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
