---
layout: default
padding: false
---

<div class="content" id="bio">
  {% if page.content_title %}<h1>{{ page.content_title }}</h1> {% endif %}
  <div class="row">
    <div class="col">
        {{ content }}
    </div>
  </div>
</div>

<div class="content" id="skills">
  <h1>Key Skills</h1>
  <div class="row">
    {% for skill in site.data.skills %}
      <div class="col-lg-4 col-md-6 col-sm-6 col-6 my-2">
        <div class="row align-items-center card-border h-100">
          {% if skill.image %}
            <div class="col-2 d-none d-sm-block" style="padding: 0px; padding-bottom: 15px">
              <img src="{{ skill.image }}" class="img-fluid mx-auto d-block" style="width: 100%; max-width: 60px;">
            </div>
          {% endif %}
          <div class="col align-middle">
            <h5>{{ skill.name }}</h5>
            <p>{{ skill.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="content" id="work-history" style="page-break-before: always">
  <h1>Work History</h1>
{% if page.collapse_work %}
  {% assign workhistory = site.data.workhistory | where: "overflow", "false" %}
  {% assign workhistory_overflow = site.data.workhistory | where: "overflow", "true" %}
{% else %}
  {% assign workhistory = site.data.workhistory%}
{% endif %}


  {% for job in workhistory %}
    <div class="row my-4 card-border">
      <div class="col-12 col-md-3 mb-1"><strong>{{job.name}}</strong><br>{{job.position}}</div>
      <div class="col-12 col-md-6 mb-1">{{job.description}}</div>
      <div class="col-12 col-md-3 mb-1">{{job.dates}}</div>
    </div>
  {% endfor %}
{% if page.collapse_work %}
  <button class="btn btn-sm btn-primary mx-auto mr-0 d-block" data-toggle="collapse" data-toggle="collapse" data-target="#morehistory" role="button" aria-expanded="false" aria-controls="morehistory">
    More Work History
  </button>
  <div class="collapse" id="morehistory">
    {% for job in workhistory_overflow %}
      <div class="row my-4 card-border">
        <div class="col-12 col-md-3 mb-1"><strong>{{job.name}}</strong><br>{{job.position}}</div>
        <div class="col-12 col-md-6 mb-1">{{job.description}}</div>
        <div class="col-12 col-md-3 mb-1">{{job.dates}}</div>
      </div>
    {% endfor %}
  </div>
{% endif %}
</div>


<div class="content" id="education" style="page-break-before: always">
  <h1>Education</h1>
  {% for school in site.data.education %}
    <div class="row my-4 card-border">
      <div class="col-12 col-md-3 mb-1"><strong>{{school.name}}</strong><br>{{school.place}}</div>
      <div class="col-12 col-md-6 mb-1">{{school.description}}</div>
      <div class="col-12 col-md-3 mb-1">{{school.dates}}</div>
    </div>
  {% endfor %}
</div>

<div class="content" id="references">
  <h1>References</h1>
  {% for reference in site.data.references %}
    <div class="row my-4 card-border">
      <div class="col-12 col-md-3 mb-1"><strong>{{reference.name}}</strong></div>
      <div class="col-12 col-md-6 mb-1">{{reference.description}}</div>
      <div class="col-12 col-md-3 mb-1">{{reference.phone}}<br><a href="mailto:{{reference.email}}">{{reference.email}}</a></div>
    </div>
  {% endfor %}
</div>
