<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

  {% include head.html %}

  <body>
    <div class="container">
      {%include nav.html title="Omelia Iliffe" current=page.nav_current nav_links=page.nav_links contact=page.contact_nav%}

      {% if page.contact_nav == false %}
      <div class="content" id="contact-details">
        <h1>Contact Details</h1>
        <div class="row">
          <div class="col">
            <p class="card-border">
              {% for details in site.data.contact %}
                {{details.name}}<br>
                <!-- {{details.address}}<br> -->
                Ph. {{details.phone}}  <br>
                Email. <a href="mailto:{{details.email}}">{{details.email}}</a>
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
      {% endif %}

      {% if page.padding != false %}
      <div class="content">
      {% endif %}
        {{ content }}
      {%  if page.padding != false %}
      </div>
      {% endif %}
    </div>
  </body>
</html>
