<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="bg-light" data-spy="scroll" data-offset="50">
    <div class="main container px">

      {% if page.notitle!=true %}{% include title.html %}{% endif %}

      <nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
        <a class="navbar-brand" href="#">Omelia Iliffe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbar">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#overview">About Me</a></li>
            <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
            <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
          </ul>
          <a class="nav-link btn btn-outline-light" href="/cv">CV</a>

        </div>

      </nav>

      <div class="content" id="overview">
        <div class="row">
          <div class="col ">
            <p class="card-border"> I am an enthusiastic and imaginative person,  <br>
            I work hard in everything I do, get on well with people of all ages and work very well in a team. </p>
          </div>
        </div>
      </div>

      <div class="content" id="skills">
        <h1>Skills</h1>
        <div class="row">
          {% for skill in site.data.skills %}
            <div class="col-lg-4 col-md-6 col-sm-12 my-2">
              <div class="row align-items-center card-border h-100">
                {% if skill.image %}
                  <div class="col-2 d-none d-sm-block" style="padding: 0px; padding-bottom: 15px">
                    <img src="{{ skill.image }}" class="img-fluid mx-auto d-block" style="width: 100%; max-width: 60px;">
                  </div>
                {% endif %}
                <div class="col align-middle">
                  <h5>{{ skill.name }}</h5>
                  <p>{{ skill.description }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="content" id="projects">
        <h1>Projects</h1>
        <div class="row">
          {% for project in site.data.projects %}
            <div class="col-lg-4 col-md-6 col-sm-12 col-smx-12 my-2">
              <div class="card">
                <img class="card-img-top" src="{{ project.image }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{ project.title }}</h5>
                  <p class="card-text"><b>Project Date:</b> {{ project.date }}</p>
                  <p class="card-text">{{ project.description }}</p>
                  {% if project.button-link %}
                    <a href="{{ project.button-link }}" class="btn btn-primary">{{ project.button-text }}</a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
